@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body 
{
	background-image: url("R.jpg");
	background-attachment: fixed;
	background-size: cover;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif"
}
contenedor
{
	width: 90%;
	/*max-width: 1000px;*/
	margin: auto;
	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
}
header
{
	width: 100%;
	padding: 50px 0px;
	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;	
}
header .logo img{
	margin-left: inherit;
}
header .menu a{
	color: darkgreen;
	font-size: 18px;
	text-decoration: none;
	margin-right: 40px;
}
header .menu a:hover {
	text-decoration: underline;
	opacity: 0.8;
	transition: 0.5s;
}
.principal{
	background-color: rgba(211, 211, 211, 0.77);
	width: 70%;
	padding: 20px;
	border-radius: 10px;
}
.principal article .contenido{
	margin-bottom: 20px;
}
.principal article .contenido img {
	width: 100%;
	border-radius: 10px;
}
.principal article h2{
	font-size: 32px;
	font-weight: lighter;
	margin-bottom: 20px;
}
.principal article p {
	font-size: 14px;
	line-height: 2;
	margin-bottom: 20px;
}
aside {
	width: 30%;
	height: 823px;
	background-color:rgba(97, 97, 97, 0.64);
	padding: 20px;
	border-radius: 10px;
	float: right;
	margin-top: -823px;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
aside .seleccion{
	background-color: darkgreen;
	text-align: center;
	color: #fff;
	padding: 50px 20px;
	border-radius: 10px;
	
	
}
aside .capacitacion{
	background-color: darkgreen;
	text-align: center;
	color: #fff;
	padding: 50px 20px;
	border-radius: 10px;
	
}
footer{
	width: 100%;
	background-color: rgba(255,255,255,0.2);
	padding: 20px;
	color: #fff;
	margin: 20px 0px;
	border-radius: 10px;
	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
footer .autor{
	line-height: 50px;
	color:darkgreen;
}
footer .redes{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
footer .redes .iconos{
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
footer .redes.icono img{
	width: 40px;
	height: 40px;
}