@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body 
{
	background-image: url("best-welders-for-beginners-min.jpg");
	background-attachment: fixed;
	background-size: cover;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif"
}
contenedor
{
	width: 90%;
	/*max-width: 1000px;*/
	margin: auto;
	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
}
header
{
	width: 100%;
	padding: 50px 0px;
	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;	
}
header .logo img{
	margin-left: inherit;
}
header .menu a{
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	margin-right: 40px;
}
header .menu a:hover {
	text-decoration: underline;
	opacity: 0.8;
	transition: 0.5s;
}
.principal{
	width: 400px;
	background: #24303c;
	padding: 30px;
	margin: auto;
	margin-top: 100px;
	border-radius: 10px;
	font-family: 'Calibri';
	color: white;
	box-shadow: 7px 13px 37px #000;
}

.principal h4{
	color: white;
	font-size: 22px;
	margin-bottom: 20px;
}
.principal p{
	color: white;
	height: 40px;
	text-align: center;
	font-size: 18px;
	line-height: 40px;
}
.principal a{
	color: white;
	text-decoration: none;
}
.principal a:hover{
	color: white;
	text-decoration: underline;
}
.principal .boton{
	width: 100%;
	background: #1f53c5;
	border: none;
	padding: 12px;
	color: white;
	margin:  16px 0px;
	font-size: 16px;
	
}
.control {
	width: 100%;
	background: #24303c;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 16px;
	border: 1px solid #1f53c5;
	font-family: 'calibri';
	font-size: 18px;
}

footer{
	width: 100%;
	background-color: rgba(255,255,255,0.2);
	padding: 20px;
	color: #fff;
	margin: 20px 0px;
	border-radius: 10px;
	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
footer .autor{
	line-height: 50px;
	color:darkgreen;
}
footer .redes{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
footer .redes .iconos{
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
footer .redes.icono img{
	width: 40px;
	height: 40px;
}